  :host ::ng-deep .ck-editor__editable_inline {
  min-height: 250px !important;
}

:host ::ng-deep .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: none;
  box-shadow: none;
}

:host ::ng-deep .ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset_all {
  margin: 3px 0;
}
:host ::ng-deep .ck.ck-toolbar {
  border: 0 none;
  border-bottom: 1px solid #EEEEEE;
}
:host ::ng-deep .ck.ck-toolbar .ck.ck-toolbar__separator {
  background: #EEEEEE;
}
:host ::ng-deep .ck.ck-toolbar.ck-toolbar_grouping.ck-reset_all.ck-rounded-corners {
  border-radius: 12px 12px 0 0;
}
:host ::ng-deep .NgxEditor__Wrapper {
  border: 1px solid rgba(0,0,0,0.2) !important;
  border-radius: 4px;
}
:host ::ng-deep .NgxEditor__MenuBar,
:host ::ng-deep .NgxEditor__Content {
  padding: 10px !important;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}