<section class="py-12 md:py-16 xl:py-20">
  <div class="warrper space-y-8 xl:space-y-12 max-w-screen-xl">
    <div class="text-center relative">
      <h2 class="text-28 md:text-38 xl:text-52 text-dark font-bold">Disclaimer</h2>
    </div>
    <div class="space-y-3.5 text-18 lg:text-20 xl:text-22 text-dark">
      <p>The information provided on <b>Blogsmk</b> (https://blogsmk.com/) is for general informational and educational purposes only. While we strive to keep the information accurate and up-to-date, we make no representations or warranties about the completeness, reliability, or accuracy of the content.</p>
      <div class="space-y-2.5">
        <p><b>No Professional Advice</b></p>
        <p>The content published on this website should not be considered professional, legal, financial, or medical advice. Always seek professional guidance before making any decisions based on the information provided here.</p>
      </div>
      <div class="space-y-2.5">
        <p><b>External Links Disclaimer</b></p>
        <p>Our website may contain links to external websites for additional information and reference. However, we do not have control over the content, nature, or availability of these external sites and do not endorse any views expressed on them.</p>
      </div>
      <div class="space-y-2.5">
        <p><b>No Liability</b></p>
        <p><b>Blogsmk</b> is not responsible for any losses, damages, or issues that may arise from the use of the information provided on this website. Users are advised to verify facts independently before relying on the content.</p>
      </div>
      <div class="space-y-2.5">
        <p><b>Consent</b></p>
        <p>By using our website, you agree to this disclaimer and its terms. If you do not agree, please discontinue using our site.</p>
      </div>
      <div class="space-y-2.5">
        <p><b>Updates</b></p>
        <p>We reserve the right to update, modify, or make changes to this disclaimer at any time. Any updates will be reflected on this page.</p>
      </div>
      <div class="space-y-2.5">
        <p><b>📧 For any concerns or inquiries, please contact us at : </b><a href="mailto:mintushah94&#64;gmail.com">mintushah94&#64;gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
