<section class="py-4 lg:py-10 2xl:py-16">
  <div class="warrper">
      <div class="flex flex-wrap">
          <div class="w-full md:w-7/12 lg:w-8/12 space-y-4 lg:space-y-7">

              <div class="swiper mySwiper -mx-5 md:mx-0">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide cursor-pointer" *ngFor="let blog of blogListSwiper;" (click)="redirectToBlogDTL(blog)">
                          <div class="w-full space-y-2">
                              <h2 class="text-22 lg:text-36 xl:text-48 text-dark font-bold px-3.5 md:px-0">{{blog?.title}}</h2>
                              <span class="block text-[10px] lg:text-12 xl:text-14 text-gray-400 px-3.5 md:px-0">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                              <div class="w-full">
                                  <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" class="w-full h-full object-cover" [alt]="blog?.banner_alttext"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            <div class="flex flex-wrap justify-center -mx-3.5"  *ngIf="blogListPG.length > 0">
                <div class="w-full xs:w-1/2 xl:w-1/3 p-3.5 cursor-pointer" *ngFor="let blog of blogListPG;" (click)="redirectToBlogDTL(blog)">
                    <span class="w-full block">
                        <div class="w-full bg-white rounded-lg shadow-2xl shadow-black/10 overflow-hidden group">
                            <div class="w-full">
                                <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" class="w-full object-cover" [alt]="blog?.banner_alttext"/>
                            </div>
                            <div class="p-3">
                                <h2 class="text-16 xs:text-18 xl:text-20 2xl:text-22 font-bold text-dark group-hover:text-blue-400 anim">{{blog?.title}}</h2>
                                <span class="text-12 2xl:text-14 text-gray-400 block">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                            </div>
                        </div>
                    </span>
                </div>
                <!-- <div class="w-full p-3.5 text-center">
                    <a href="" class="text-16 text-gray-400 font-semibold hover:text-purple-700">Read More>></a>
                </div> -->
            </div>
            <div class="card data_paginatorZ" *ngIf="blogListPG.length > 0">
                    <p-paginator (onPageChange)="getBlogsListPG($event)" [first]="1" [rows]="limit" [totalRecords]="totalBlogData" [rowsPerPageOptions]="[9, 18, 27, 45]"></p-paginator>
            </div>
            <div class="flex flex-wrap -mx-3.5">
                    <div class="w-full p-3.5">
                        <div class="w-full p-2 xl:p-3 bg-purple-700 block mx-auto text-16 xl:text-18 text-center font-semibold text-white">Must Read</div>    
                    </div>
                    <div class="w-full xs:w-1/2 xl:w-1/3 p-3.5 cursor-pointer" *ngFor="let blog of blogListSwiper;" (click)="redirectToBlogDTL(blog)">
                        <span class="w-full block">
                            <div class="w-full bg-white rounded-lg shadow-2xl shadow-black/10 overflow-hidden group">
                                <div class="w-full">
                                    <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" class="w-full object-cover"  [alt]="blog?.banner_alttext"/>
                                </div>
                                <div class="p-3">
                                    <h2 class="text-16 xs:text-18 xl:text-20 2xl:text-22 font-bold text-dark group-hover:text-blue-400 anim">{{blog?.title}}</h2>
                                    <span class="text-12 2xl:text-14 text-gray-400 block">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                                </div>
                            </div>
                        </span>
                    </div>
            </div>
            <div class="flex flex-wrap -mx-3.5">
                    <div class="w-full max-w-sm relative ml-auto">
                        <svg class="absolute top-1/2 -translate-y-1/2 right-5 z-10 w-5 h-5 pointer-events-none" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.16634 1.3335L7.71025 2.80264C6.54905 3.97425 5.96844 4.56005 5.26079 4.65025C5.0874 4.67235 4.91195 4.67235 4.73856 4.65025C4.0309 4.56006 3.4503 3.97425 2.2891 2.80264L0.833008 1.3335" stroke="#101F4F" stroke-linecap="round"/> </svg>
                        <select [(ngModel)]="selblogCategory" (change)="getBlogsListWTPG()" class="input" placeholder="Select Option">
                            <option value="" disabled>--- Select Blog Category --- </option>
                            <option [value]="category" *ngFor="let category of constants.categoryList">{{category}}</option>
                        </select>
                    </div>
                    <div class="w-full p-3.5">
                            <div class="flex flex-wrap -mx-3.5" *ngIf="blogListPGForCat?.length > 0">
                                <div class="w-full xs:w-1/2 p-3.5 py-2.5 cursor-pointer" *ngFor="let blog of blogListPGForCat;" (click)="redirectToBlogDTL(blog)">
                                    <span class="w-full block group">
                                    <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" class="w-full object-cover rounded-md" [alt]="blog?.banner_alttext"/>
                                        <h2 class="text-16 xl:text-18 font-bold text-dark mt-2.5 group-hover:text-blue-400 anim">{{blog?.title}}</h2>
                                        <span class="text-[10px] 2xl:text-12 text-gray-400 block">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="blogListPGForCat?.length==0">
                                No Blogs Found...!
                            </div>
                    </div>
                    
            </div>
            <div class="card data_paginatorZ paginatiom" *ngIf="blogListPGForCat.length > 0">
                <p-paginator (onPageChange)="getBlogsListWTPG($event)" [first]="1" [rows]="limitForCat" [totalRecords]="totalBlogDataForCat" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
            </div>
          </div>
          <div class="w-full md:w-5/12 lg:w-4/12 space-y-4 lg:space-y-7 md:pl-5 xl:pl-10">
              <div class="w-full space-y-5 cursor-pointer rounded-lg overflow-hidden" *ngFor="let blog of blogListSideBar;" (click)="redirectToBlogDTL(blog)">
                <div class="w-full relative bg-black">
                    <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" alt="blog_cover" class="w-full h-full object-cover opacity-65"/>
                    <div class="absolute w-full bottom-0 inset-x-0 z-10 px-5 p-6">
                        <h2 class="text-18 md:text-20 xl:text-22 font-bold text-white line-clamp-2">{{blog?.title}}</h2>
                    </div>
                </div>
              </div>
              <div class="w-full p-2 xl:p-3 bg-primary block mx-auto text-16 xl:text-18 text-center font-semibold text-white">Must Read</div>
              <ul class="w-full space-y-7 lg:space-y-8">
                  <li class="cursor-pointer" *ngFor="let blog of blogListSwiper;" (click)="redirectToBlogDTL(blog)">
                      <span class="pb-2.5 border-b border-gray-300 block group hover:border-blue-400">
                          <h4 class="text-18 md:text-20 xl:text-22 2xl:text-24 font-semibold text-dark group-hover:text-blue-400 anim">{{blog?.title}}</h4>
                          <span class="text-12 text-gray-300">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                      </span>
                  </li>
              </ul>
              
              <div class="w-full sticky top-20">
                  <ul class="w-full space-y-7 lg:space-y-8 p-6 px-5 bg-purple-700 rounded-2xl">
                      <li><span class="text-white text-20">News</span></li>
                      <li *ngFor="let blog of blogListNews;">
                          <span class="flex space-x-2.5 group pb-3.5 border-b border-gray-300 hover:border-white cursor-pointer anim" (click)="redirectToBlogDTL(blog)">
                              <div>
                                  <h3 class="text-16 lg:text-18 2xl:text-20 text-white font-bold hover:text-gray-200 anim line-clamp-2">{{blog?.title}}</h3>
                                  <span class="text-12 text-gray-300">{{blog?.blog_date | date:'MMM dd,yyyy'}}</span>
                              </div>
                              <div>
                                  <div class="w-24 h-24 rounded-lg overflow-hidden">
                                      <img [src]="blog?.banner_image ? constants.baseImageUrl + blog?.banner_image : constants?.defaultImage" class="w-full h-full object-cover" alt="blog_cover"/>
                                  </div>
                              </div>
                          </span>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>